//Base Color

$primary   : #4A7CE2;
$secondary : #B0C6F2;
$light     : #E6EAF1;
$dark      : #383D47;

//System Color

$success   : #00CC7C;
$info      : #008CCC;
$warning   : #F5A623;
$danger    : #CC3300;